html {
    height:100%;
  }
  
  body {
    margin:0;
  }
  
  .bg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }
  
  .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:3s;
  }
  
  .bg3 {
    animation-duration:5s;
  }
  
  
  @keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
}  

/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 110vh;

}

/* Header/Nav Styles */
.header {
    
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.header li {
    list-style: none;
    margin: 0 5px;
}

.header li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.header li a:hover {
    color: #ff6347;
}

/* Hero Section Styles */
.hero {
    flex: 1;
    padding: 20px;
    text-align: center;
    color: #fff;
    margin: 20px;
}
.hero h1{
    font-size: 0.7rem;
}


.hero p {
    font-size: 0.5em;
    line-height: 1.6;
    margin-top: 10px;
}

/* Container Styles */
.container {
    display: flex;
    justify-content: space-around;
    margin: 1px 20px;
}

.editor-info, .feedback-info {

    width: 45%;
  border: .1px solid green;
  padding: 10px;
}

.editor-info h2, .feedback-info h2 {
    text-align: center;
    color: #333;
    font-size: 1.2em;
    margin-bottom: 10px;
}

.editor-info p, .feedback-info p {
    color: #555;
    font-size: 0.9em;
    line-height: 1.5;
}





.button-6 {
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button-6:hover,
.button-6:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.button-6:hover {
  transform: translateY(-1px);
}

.button-6:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}